.demo {
  width: 100px;
  height: 100px;
  background-color: #999;
  display: inline-block;
  margin: 10px;
}

.red {
  background-color: darkred;
}

.green {
  background-color: darkgreen;
}

.blue {
  background-color: darkblue;
}