<template>
  <v-app>
    <appNavbar/>
    <v-content class="ma-4">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import appNavbar from '@/components/navigation/Navbar';
export default {
  name: 'App',
  components: { appNavbar }
};
</script>

<style>
</style>
