<template>
  <v-layout row>
    <v-btn color="accent" @click="changeCounter(true)">Increment</v-btn>
    <v-btn color="dark" @click="changeCounter(false)">Decrement</v-btn>
  </v-layout>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  methods: {
    // increment() {
    //   /** El uso de las mutaciones es con una función de store llamada commit, que recibe como
    //    * parámetro un string con el nombre de la función a ejecutar que cambiará el estado del store
    //    */
    //   this.$store.commit('increment', { inc: true })
    // },
    // decrement() {
    //   this.$store.commit('increment', { inc: true })
    // }
    // refactor to dry
    // modifyCounter(inc) {
    //   this.$store.commit('changeCounter', { inc });
    // },

    /** Así como los getters, mutations puede ser mapeado con helpers, arreglos(para no cambiar nombre del
     * método), u objetos con kvps, lo cual permitirá tener un merge con los métodos propios del
     * componente
     */
    ...mapMutations(['changeCounter'])
  }
};
</script>

<style>
</style>
