<template>
  <v-layout row>
    <p class="mr-5">Counter is {{counter}}</p>
    <p>Number of clicks: {{ clicks}}</p>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  /** para evitar el bloat de las computed con cada una de las propiedades de los getters
   * se usa un helper de vuex para mapearlos
   * mapGetters recibe un arreglo de strings con los nombres de los getters que se quieren
   * mapear o un arreglo con kvps para cambiar los nombres como en este caso
   */
  // computed: {
  //   counter() {
  //     return this.$store.state.counter;
  //   },
  //   clicks() {
  //     return this.$store.getters.stringCounter;
  //   }
  // }
  computed: {
    /** spread operator para hacer merge de otras computed properties en caso de que se
     * requiera
     */
    ...mapGetters({ counter: 'doubleCounter', clicks: 'stringCounter' })
    // ourOwnComputed() {

    // }
  }
};
</script>

<style>
</style>
