<template>
  <v-layout row>
    <!-- Ejemplo de pasar n parámetros a los mapActions mediante objetos
    Map Actions internamente llama a la función dispatch para hacer la mutación-->
    <v-btn color="primary" @click="asyncCounterChange({ inc: true, delay: 500})">Increment</v-btn>
    <v-btn color="warning" @click="asyncCounterChange({ inc: false, delay: 1000})">Decrement</v-btn>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  methods: {
    // increment() {
    //   /**this.$emit('updated', 1);
    //    * En lugar de emitir un evento, se apunta al store de la aplicación global
    //    */
    //   this.$store.state.counter++;
    //   this.$store.state.clicksCount++;
    // },
    // decrement() {
    //   this.$store.state.counter--;
    //   this.$store.state.clicksCount++;
    // }
    /** Para evitar usar mutaciones, se usarán las acciones que permiten el código asíncrono
     * antes de hacer los commits
     *
     * Refactor for DRY
     */
    ...mapActions(['asyncCounterChange'])
  }
};
</script>

<style>
</style>
