<template>
  <p>Counter is {{counter}}</p>
</template>

<script>
export default {
  // props: ['counter']
  /** En lugar de que haya una propiedad, se accede al estado de la aplicación en store
   * para leerse desde ahí y se actualizará mediante una computed property
   */
  computed: {
    counter() {
      /** LLamada a los getters para evitar el cambio en varios lugares del computed de la
       * misma propiedad
       */
      return this.$store.state.counter;
    }
  }
};
</script>

<style>
</style>
