<template>
  <v-layout row>
    <v-btn color="warning" @click="createNew">Add quote</v-btn>
    <v-textarea v-model="quote" @keyup.enter="createNew"></v-textarea>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    quote: ''
  }),
  methods: {
    createNew() {
      this.$emit('quoteAdded', this.quote);
      this.quote = '';
    }
  }
};
</script>

<style>
</style>
