<template>
  <div>
    <v-flex mx-2>
      <v-card color="blue-grey darken-2" class="grey--text quote">
        <v-card-text class="headline font-weight-light">
          <slot></slot>
        </v-card-text>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.quote {
  font-family: 'Arizonia', cursive !important;
  cursor: pointer;
}
.quote:hover {
  background-color: #ffe2e2;
}
</style>
