<template>
  <div>
    <v-layout row wrap>
      <!-- En este caso se pondrá el listener que eliminará el quote del arreglo
      sin embargo a mí no me funcionó y tuve que pensar en un work-around cuando
      lo único que necesitaba el era click.native, Max aún no me explica por qué...
      el native le dice: reaccióna a un evento si el evento ocurre dentro del componente
      nativamente, permite los clicks en el componente-->
      <appQuote v-for="(quote, i) of quotes" :key="i" @click.native="removeQuote(i)">{{quote}}</appQuote>
    </v-layout>
  </div>
</template>

<script>
import appQuote from './Quote';
export default {
  props: ['quotes'],
  components: { appQuote },
  methods: {
    removeQuote(index) {
      this.quotes.splice(index, 1);
    }
  }
};
</script>

<style>
</style>
