<template>
  <v-layout column align-center md10 sm10 xs12>
    <v-flex class="middle" v-if="!isSubmitted">
      <h2 class="display-1 mb-4">Forms exercise</h2>
      <!-- Ex1 Create a signup form with full name, F&L,
      mail password, storedata switch
      Ex2 
      Only display form if it was NOT submitted
      Display data summaryOnce the form has been submitted
      Ex3
      Edit the ex from above and create a full name control
      which still hodls the first name and last name input field-->
      <!-- Ex: 1 -->
      <v-form>
        <appCustomName v-model="userData.userName"/>
        <v-text-field label="Email" type="text" v-model="userData.email"></v-text-field>
        <v-text-field label="Password" type="password" v-model="userData.password"></v-text-field>
        <v-switch label="Store Data" v-model="storeData"></v-switch>
        <v-btn color="primary" @click="submit">Submit</v-btn>
      </v-form>
    </v-flex>
    <v-flex v-else>
      <v-card>
        <v-card-title>
          <h5 class="headline">Your Data</h5>
        </v-card-title>
        <v-card-text>
          <p>First Name: {{ userData.userName.fName }}</p>
          <p>Last Name: {{ userData.userName.lName }}</p>
          <p>Email: {{ userData.email }}</p>
          <p>Password: {{ userData.password }}</p>
          <p>Store Data: {{ storeData }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn flat color="warning" @click="isSubmitted = !isSubmitted">Return</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import appCustomName from '../components/CustomNameForm';

export default {
  data: () => ({
    userData: {
      userName: {
        fName: '',
        lName: ''
      },
      email: null,
      password: null
    },
    storeData: false,
    isSubmitted: false
  }),
  components: {
    appCustomName
  },
  methods: {
    submit() {
      this.isSubmitted = true;
    }
  }
};
</script>

<style>
.middle {
  width: 75%;
}
</style>
