<template>
  <div>
    <v-layout column align-center md10 sm10 xs12>
      <v-flex class="middle">
        <h2 class="display-1 mb-4">File a complaint</h2>
        <v-form ref="form">
          <!-- Usar v-model para conectar la form con los atributos del componente, 
          propiedad anidada del objeto userData, v-model es la manera default, la cual
          es reactiva y cambia el valor de la propiedad con cada keystroke. Utilizanddo el
          modificador lazy, el valor se actualizará en cualquier otro evento, ejemplo,
          el simple blur al dejar de enfocar el field,
          Modificador number: hara un casteo automático a number para ser usado como atributo
          Modificador trim: removerá espacios en blanco antes y después de la cadena-->
          <v-text-field label="Mail" type="text" v-model.lazy="userData.email"></v-text-field>
          <v-text-field label="Password" type="password" v-model="userData.password"></v-text-field>
          <v-text-field label="Age" type="number" v-model="userData.age"></v-text-field>
          <!-- Todos los prepopulation de los inputs se hacen con v-model -->
          <v-textarea label="Message" type="text" v-model="message"></v-textarea>
          <v-layout row>
            <!-- hacer un binding hacia un mismo arreglo para que se agreguen automáticamente con el
            valor que se bindea en value-->
            <v-checkbox label="Send Mail" :value="'Send Mail'" v-model="sendMail"></v-checkbox>
            <v-checkbox label="Send Infomail" :value="'Send Infomail'" v-model="sendMail"></v-checkbox>
          </v-layout>
          <!-- Aquí hay una diferencia con lo de max, él utiliza v-model en ambos radios, pero con
          vuetify simplemente se pone en la etiqueta que los encierra en un grupo. el valor dependerá
          del prop value de la etiqueta v-radio, quizá es lo mismo para grupos de v-checkbox, pero 
          es bueno dejar ambas opciones para hacer la comparación-->
          <v-radio-group :mandatory="false" v-model="userData.gender">
            <v-radio label="Male" value="Male"></v-radio>
            <v-radio label="Female" value="Female"></v-radio>
          </v-radio-group>
          <!-- select es más rápido de usar aquí ya que simplemente se le pasa el arreglo como prop y se
          bindea el dato que va a ser el seleccionado, si se configura con multiple, funciona automáticamente.
          El v-model será string o un arreglo de strings, según sea el caso-->
          <v-select label="Priority" :items="priority" v-model="selectedPriority"></v-select>
          <appCustomSwitch v-model="switchValue"/>
          <v-btn color="primary" @click="submit">Submit</v-btn>
        </v-form>
      </v-flex>
    </v-layout>
    <v-layout column mt-5 align-center v-if="isSubmitted">
      <v-flex class="middle">
        <v-card>
          <v-card-title>
            <h5 class="headline">Your Data</h5>
          </v-card-title>
          <v-card-text>
            <p>Mail: {{ userData.email }}</p>
            <p>Password: {{ userData.password }}</p>
            <p>Age: {{ userData.age }}</p>
            <!-- El estilo white-space: pre, es un nativo de css que permite renderizar
            el texto tal y como está concebido en el string, es decir, respetando saltos de
            línea y espacios en blanco-->
            <p style="white-space: pre">Message: {{ message }}</p>
            <p>
              <strong>Send Mail?</strong>
            </p>
            <v-list>
              <v-list-tile v-for="option of sendMail" :key="option">
                <v-list-tile-content>
                  <v-list-tile-title v-text="option"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
            <p>Gender: {{ userData.gender }}</p>
            <p>Priority: {{ selectedPriority }}</p>
            <p>Custom Switch: {{ switchValue }}</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import appCustomSwitch from '../components/CustomSwitch';
export default {
  data: () => ({
    userData: {
      email: undefined,
      password: undefined,
      age: 28,
      gender: undefined
    },
    message: `Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Doloremque veniam tenetur soluta amet dolores veritatis odio reiciendis,
      aliquam aliquid error neque deleniti repudiandae, ab ut!
      Ea reiciendis molestiae laudantium voluptate.`,
    sendMail: [],
    selectedPriority: '',
    priority: ['High', 'Medium', 'Low'],
    switchValue: true,
    isSubmitted: false
  }),
  components: {
    appCustomSwitch
  },
  methods: {
    submit() {
      this.isSubmitted = true;
    }
  }
};
</script>

<style>
.middle {
  width: 75%;
}
</style>
