<template>
  <v-layout column align-center md10 sm10 xs12>
    <v-flex class="middle" v-if="!isSubmitted">
      <h2 class="display-1 mb-4">Max Solution</h2>
      <v-form>
        <!-- <v-text-field label="First Name" type="text" v-model="userData.firstName"></v-text-field>
        <v-text-field label="Last Name" type="text" v-model="userData.lastName"></v-text-field>-->
        <fullName v-model="userData.fullName"/>
        <v-text-field label="Email" type="text" v-model="userData.email"></v-text-field>
        <v-text-field label="Password" type="password" v-model="userData.password"></v-text-field>
        <v-radio-group v-model="storeData" label="Store in Database">
          <v-radio label="Yes" value="Yes"></v-radio>
          <v-radio label="No" value="No"></v-radio>
        </v-radio-group>
        <v-btn color="primary" @click="submit">Submit</v-btn>
      </v-form>
    </v-flex>
    <v-flex v-else>
      <v-card>
        <v-card-title>
          <h5 class="headline">Your Data</h5>
        </v-card-title>
        <v-card-text>
          <p>Name: {{ userData.fullName }}</p>
          <p>Email: {{ userData.email }}</p>
          <p>Password: {{ userData.password }}</p>
          <p>Store Data: {{ storeData }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn flat color="warning" @click="isSubmitted = !isSubmitted">Return</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import fullName from '../components/MaxFullName';

export default {
  data: () => ({
    userData: {
      fullName: '',
      email: '',
      password: ''
    },
    storeData: 'Yes',
    isSubmitted: false
  }),
  // computed: {
  //   fullName() {
  //     return this.userData.firstName + ' ' + this.userData.lastName;
  //   }
  // },
  components: {
    fullName
  },
  methods: {
    submit() {
      this.isSubmitted = true;
    }
  }
};
</script>

<style>
.middle {
  width: 75%;
}
</style>
