
<template>
  <div>
    <!-- Componentes dinámicos: Al final de la explicación  lo veo como un router interno activado por botones a través
    de la etiqueta <component></component> reservada por vue, este elemento permite la carga dinámica de componentes, 
    utilizando property binding en el atributo is, se le pasa como parámetro el nombre en string del componente que se
    quiera cargar, tal y como se importó en el script. Los componentes son destruidos y recreados cada vez que se instancian
    por lo tanto no mantienen su estado anterior a su destrucción. Sin embargo, es posible evitar este comportamiento encerrando
    el elemento component entre otro llamado keep-alive, como el elemento queda vivo, se pierde el life cycle hook de la
    destrucción, vue tiene otros hooks para solucionar el problema con deactivate-->
    <v-btn @click="selectedComponent= 'appQuote'">Quote</v-btn>
    <v-btn @click="selectedComponent= 'appAuthor'">Author</v-btn>
    <v-btn @click="selectedComponent= 'appNew'">New</v-btn>
    <hr>
    <p>{{ selectedComponent }}</p>
    <keep-alive>
      <component :is="selectedComponent">
        <h2 slot="title">The Quote</h2>
        <p slot="content">{{ msg }}</p>
      </component>
    </keep-alive>
    <!-- <Quote quote="A wondeful quote!"/> -->
    <!-- Uso de Slots:
    Es posible pasar información del template a través de slots, que son fragmentos de html que se ponen
    dentro del scope del componente en etiqueta y se renderizarán dentro del componente en la etiqueta slot.
    Los estilos se aplican directamente en el componente hijo, si se quisieran declarar aquí, no se aplicarían
    Los datos pasados, ej, el mensaje del párrafo se compila aqui y se envía al componente hijo ya como un string.
    Cualquier cálculo se aplica aquí. Los slots con nombres sirven para pasar parámetros específicamente 
    etiquetados para su uso en el componente hijo: 
    Aquí: 
    En el hijo
    <slot name="title"></slot>
    Los slots que no tengan alguna especificación se tratará como un slot default, que se renderizará en el componente
    hijo en solamente <slot></slot>
    Summary: 
    Los slots ayudan a distribuir elementos a otros componentes, es especialmente útil para hacer widgets reutilizables
    para poner contenido html dentro de un componente-->
    <!-- <appQuote>
      <h2 slot="title">The Quote</h2>
      <p slot="content">{{ msg }}</p>
    </appQuote>
    <appNew/>
    <appAuthor/>-->
  </div>
</template>

<script>
import appQuote from '@/components/Quote';
import appNew from '../components/New';
import appAuthor from '../components/Author';

export default {
  name: 'Home',
  data: () => ({ msg: 'Hello World myself', selectedComponent: 'appQuote' }),
  components: { appQuote, appNew, appAuthor }
};
</script>

<style scoped>
</style>
