<!DOCTYPE html>
<html>

<head>
  <title>Monster Slayer</title>
  <script src="https://unpkg.com/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/app.css" />
</head>

<body>
  <!-- Instancia general de vue -->
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHealth + '%'}">
            {{ playerHealth }}
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">
            {{ monsterHealth }}
          </div>
        </div>
      </div>
    </section>
    <section class="
            row controls" v-if="!gameIsRunning">
      <div class="small-12 columns">
        <button id="start-game" @click="startGame">START NEW GAME</button>
      </div>
    </section>
    <section class="row controls" v-else>
      <div class="small-12 columns">
        <button id="attack" @click="attack">ATTACK</button>
        <button id="special-attack" @click="specialAttack">SPECIAL ATTACK ({{specialsRemaining}})</button>
        <button id="heal" @click="heal">HEAL ({{potions}})</button> <button id="give-up" @click="giveUp">GIVE UP</button>
      </div>
    </section>
    <div class="connt">
      <section class="row log" v-if="turns.length">
        <div class="small-12 columns">
          <ul>
            <!-- Here we can see how to bind classes with a boolean value -->
            <li v-for="(turn, ind) of turns" :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
              <p>Turn: {{ind + 1}}</p>
              {{turn.isPlayer ? 'Player ' + turn.text : 'Monster ' + turn.text}}
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <script src="app.js"></script>
</body>

</html>