<template>
  <div>
    <h3>New Quote</h3>
    <v-btn @click="counter++">{{counter}}</v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    counter: 0
  }),
  activated() {
    console.log('activated');
  },
  deactivated() {
    console.log('deactivated');
  },
  destroyed() {
    console.log('destroyed');
  }
};
</script>

<style>
</style>
