<template>
  <div>
    <!-- Slots con nombres, para poder recibir parámetros por separado y utilizarlos en lugares específicos 
    en el template-->
    <div class="title">
      <slot name="title"></slot>
    </div>
    <div>
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  /** props es subóptimo? en realidad nunca lo utilicé en angular, los servicios hacían todo esta
   * comunicación
   */
  // props: ['quote']
};
</script>

<style scoped>
div {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px black;
  padding: 30px;
  margin: auto;
  text-align: center;
}
/* El estilo es aplicado a lo que llegue en slot también, a pesar de estarr escrito en el componente
padre, de todas formas se renderiza en el componente hijo, haciendo que se le apliquen los estilos*/
h2 {
  color: red;
}
</style>
