<template>
  <div>
    <h1 class="title">Some User Details</h1>
    <p>User loaded has id: {{ $route.params.id }}</p>
    <!-- <v-btn color="primary" router :to="`/user/${$route.params.id}/edit`">Edit</v-btn>
    Alternativa utilizando la propiedad de name en path, si existen más parámetros en la ruta (raro para mí)
    la prop params puede ser un objeto que lleve los parámetros por separado, ej:
    :to="{ name: 'editUser', params: { id: $route.params.id, username: someVariable }}"
    También es posible utilizar query params en el objeto de la ruta, el output será: 
    /user/2/edit?locale=en&q=20
    Paso del fragmento, se separará en un objeto en los datos del componente, con un hash, pero por
    defaul el comportamiento del scroll no funciona, se le tiene que pasar un método de scrollBehaviour
    donde está configurado el router
    -->
    <v-btn color="primary" router :to="link">Edit</v-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      link: {
        name: 'userEdit',
        params: this.$route.params.id,
        query: { locale: 'en', q: 20 },
        hash: '#data'
      }
    };
  },
  /** Este hook se dispara incluso antes de los lifecycles regulares del componente */
  beforeRouteEnter(to, from, next) {
    // console.log(
    //   'Before route enter hook, also, im freezing the loading of the component'
    // );
    /** Si no se llama next, el componente nunca se monta en el dom y sus propiedades no son accesibles en este
     * punto
     */
    // console.log(this.link); <- undefined
    /** Un ejemplo sería revisar si el usuario tiene autorización para permitirlo, si no, redirigirilo al
     * login o a otra página, next acepta el mismo objeto de navegación que el :to
     */
    Math.random() > 0 ? next() : next({ name: 'home' });
  }
  // beforeCreate() {
  //   console.log(
  //     'checking if created or beforecreate is fired with beforeRouteEnter'
  //   );
  // }
};
</script>

<style>
</style>
