<template>
  <div>
    <h1 class="title">Please select a user</h1>
    <v-list two-line subheader>
      <v-list-tile v-for="(user, i) of users" :key="i" router :to="`/user/${user.id}`">
        <v-list-tile-content>
          <v-list-tile-title>{{ user.name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
export default {
  data: () => ({
    users: [
      {
        id: 1,
        name: 'User 1'
      },
      {
        id: 2,
        name: 'User 2'
      },
      {
        id: 3,
        name: 'User 3'
      }
    ]
  })
};
</script>

<style>
</style>
