<template>
  <div>
    Edit the user {{$route.params.id}}
    <!-- Manera de acceder a los query de la url, de nuevo para hacerlos reactivos a cambios en la url
    se necesitan usar watchers o computed properties-->
    <p>Locale: {{ $route.query.locale}}</p>
    <p>Analytics: {{ $route.query.q}}</p>
    <v-btn @click="confirmed = !confirmed" color="primary">{{ confirmed ? 'Cancel' : 'Confirm'}}</v-btn>
    <div style="height: 1700px"></div>
    <!-- id para hacer un anchor que automáticamente haga scroll a este elemento -->
    <p id="data">Some extra data</p>
  </div>
</template>

<script>
export default {
  data: () => ({ confirmed: false }),
  /** Hook del router para evitar que el usuario deje la página en cambios no guardados, si no está
   * confirmado saldrá un prompt para que acepte o salga
   */
  beforeRouteLeave(to, from, next) {
    this.confirmed ? next() : confirm('Are you sure') ? next() : next(false);
  }
};
</script>

<style>
</style>
