<template>
  <div class="component">
    <h3>You may edit the user here</h3>
    <p>Edit me!</p>
    <p>User age {{userAge}}</p>
    <button @click="editAge">Edit age</button>
  </div>
</template>

<script>

import { UserService } from '../../../main.js';

export default {
  props: {
    userAge: Number
  },
  methods: {
    editAge() {
      this.userAge = 30;
      // this.$emit('updateAge', this.userAge);
      UserService.$emit('updatedAge', this.userAge);
    }
  }

};
</script>

<style scoped lang="scss">
div {
  background-color: lightgreen !important;
}
</style>
