<template>
  <div class="component">
    <h3>You may view the User details here</h3>
    <p>Many details</p>
    <p>User name {{ switchBack() }}</p>
    <p>User age {{ age }}</p>
    <button class="btn btn-primary" @click="resetName">Reverse me</button>
    <button class="btn btn-primary" @click="parentFn()">Reset me</button>
  </div>
</template>

<script>
import { UserService } from '../../../main.js';

export default {
  /** Props no sólamente puede ser un arreglo, debe ser un objeto donde se validan los tipos de datos,
   * se puede asignar diferentes datos con un arreglo ej: name: [String, Array], el required asegurará
   * que el componente se renderice siempre y cuando el dato se requiera
   */
  props: {
    name: {
      type: String,
      required: true,
      default: "Max"
    },
    parentFn: {
      type: Function
    },
    age: Number
  },
  // data() {
  //   return {
  //     otherName: this.name
  //   };
  // },
  methods: {
    switchBack() {
      return this.name
        .split("")
        .reverse()
        .join("");
    },
    resetName() {
      this.name = "Darío";
      this.$emit("nameWasReset", this.name);
    }
  },
  created() {
    UserService.$on('updatedAge', data => {
      this.age = data;
    })
  }
};
</script>
<style scoped lang="scss">
div {
  background-color: lightcoral !important;
}
</style>
