<template>
  <v-layout wrap>
    <v-flex>
      <h1 class="display-1">Animations with css</h1>
      <v-btn block flat color="error" @click="alert = !alert">Show Alert</v-btn>
      <!-- elemento que ofrece vue para las animaciones, sólamente se puede animar un sólo
      elemento con transition
      Al tener el name="fade", vue le pondrá el estilo css a lo interior para hacer las animaciones
      o transiciones, el name puede utilizarse como data binding para hacer asignamiento dinámico-->
      <transition name="fade">
        <v-alert v-model="alert">This is some info</v-alert>
      </transition>
      <!-- Aún no entiendo muy bien como funcionan las animaciones -->
      <transition name="slide" type="animation" appear>
        <v-alert v-model="alert">This is some info</v-alert>
      </transition>
      <!-- Transición de cambio de elemento utilizando un key para hacer el attachment correctamente de
      las clases necesarias. El problema es que el segundo elemento empieza a animarse antes de que el 
      anterior desaparezca del dom. Lo cuál hace que ambos elementos se vean antes de que alguno desaparezca
      y el segundo toma la posición orginal de una manera muy abrupta. El cual se soluciona con el modo
      mode="out-in" o mode="in-out"-->
      <transition
        appear
        enter-active-class="animated bounce"
        leave-active-class="animated fadeOut"
        mode="out-in"
      >
        <v-btn v-if="alert" color="primary" key="first">Click me</v-btn>
        <v-btn v-else color="warning" key="second">It's lit fam</v-btn>
      </transition>
    </v-flex>
    <v-flex>
      <h1 class="display-1">Animations with JS</h1>
      <v-btn block flat color="accent" @click="load = !load">{{ load ? 'Remove' : 'Load'}} Element</v-btn>
      <!-- transition tiene varios hooks que triggerean eventos, para llamar funciones se
      le aplica un eventListener normal, todos estos hooks llevan como parámetro el elemento que está
      dentro de su scope el, para hacer referencia en el código. Es recomendable especificar que no se
      utilizará css para que el componente no adhiera las clases que utiliza la animación con css con 
      :css="false" con binding porque se le pasa un falso-->
      <transition
        @before-enter="beforeEnter"
        @enter="enter"
        @after-enter="afterEnter"
        @enter-cancelled="enterCancelled"
        @before-leave="beforeLeave"
        @leave="leave"
        @after-leave="afterLeave"
        @leave-cancelled="leaveCancelled"
        :css="false"
      >
        <div v-if="load" class="box"></div>
      </transition>
    </v-flex>
  </v-layout>
</template>

<script>
/** Animaciones:
 * Inicialmente para anclar o quitar elementos del dom
 */
export default {
  data: () => ({ alert: false, load: true, elementWidth: 100 }),
  methods: {
    /** Hooks js antes de que el elemento entre al dom */
    beforeEnter(el) {
      console.log(el);
      console.log('before Enter');
      this.elementWidth = 100;
    },
    /** Cuando el elemento entra al dom, recibe además un argumento done, que es una función
     * de callback para indicar a vue que la animación ha terminado, dado que en las animaciones de js
     * no tiene un timer determinado
     */
    enter(el, done) {
      console.log('enter');
      let round = 1;
      const interval = setInterval(() => {
        el.style.width = el.style.width + round * 10 + 'px';
        round++;
        if (round > 20) {
          clearInterval(interval);
          done();
        }
      }, 20);
      done();
    }
    /** Todos reciben el como parámetros 
    afterEnter(el) {
      console.log('afterEnter');
    },
    enterCancelled(el) {
      console.log('enterCancelled');
    },
    beforeLeave(el) {
      console.log('beforeLeave');
    },
    leave(el, done) {
      console.log('leave');
      done();
    },
    afterLeave(el) {
      console.log('afterLeave');
    },
    leaveCancelled(el) {
      console.log('leaveCancelled');
    }*/
  }
};
</script>

<style>
.box {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
/* .fade-leave {
} */
.fade-leave-active {
  opacity: 0;
}
.slide-enter {
  opacity: 0;
}
.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s;
}
.slide-leave {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
}
/* .slide-leave-active {
} */
@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
</style>
