<template>
  <div>
    <v-layout column align-center md10 sm10 xs12>
      <v-flex class="middle">
        <h1 class="display-2">Built in directives</h1>
        <!-- Todos los directives de vue son precedidos con un v-, algunas tienen shortcuts como 
        los listeners y el binding.-->
        <!-- v-text para introducir texto dentro de la etiqueta, creo que en vanilla es innerHTML,
        recibe un string-->
        <p v-text="'Some Text'"></p>
        <!-- v-html: Es posible inyectar html dentro de otro html, me suena a un appendHTML, sin 
        embargo max hace una advertencia aquí sobre el side scripting, y que es posible cargar
        js malicioso con esta directiva. De todos modos no encuentro un uso práctico para ella en una
        aplicación real, recibe un string con el html embebido-->
        <p v-html="'<strong>Some Text</strong>'"></p>
      </v-flex>
      <v-flex mt-5 class="middle">
        <h1 class="headline">Custom Directives</h1>
        <h2 class="caption">Global</h2>
        <p v-highlight:background.delayed="'red'">Color this</p>
        <p v-highlight.delayed="'red'">Color me</p>
        <h2 class="caption">Local</h2>
        <p v-localHighlight:background.delayed="'green'">Color this</p>
        <!-- También es posible enviár objetos más complejos como parámetros de las directivas -->
        <p v-localHighlight.blink="{mainColor: 'red', secondColor: 'green'}">Color me</p>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  directives: {
    localHighlight: {
      bind: (el, binding) => {
        let delay = 0;
        if (binding.modifiers['delayed']) {
          delay = 2000;
        }
        if (binding.modifiers['blink']) {
          let mainColor = binding.value.mainColor,
            secondColor = binding.value.secondColor,
            currentColor = mainColor;
          setTimeout(() => {
            setInterval(() => {
              currentColor === secondColor
                ? (currentColor = mainColor)
                : (currentColor = secondColor);
              binding.arg === 'background'
                ? (el.style.backgroundColor = currentColor)
                : (el.style.color = currentColor);
            }, 500);
          }, delay);
        } else {
          setTimeout(() => {
            binding.arg === 'background'
              ? (el.style.backgroundColor = binding.value)
              : (el.style.color = binding.value);
          }, delay);
        }
      }
    }
  }
};
</script>

<style>
.middle {
  width: 75%;
}
</style>
