<template>
  <v-layout column>
    <!-- Ex1: Build a local filter which reverses the text it's applied on
    Ex2: Build a global Filter which contains the length of a word and appends it
    i.e. Test => Text (4)
    Ex3: Do the same as 1 & 2 but with computed properties
    Ex4: Share the computed property rebuilding ex 2 via mixin-->
    <v-flex>
      <h1 class="display-2 my-3">Ex 1 & 2</h1>
      <p>Original text: {{ message }}</p>
      <p>{{ message | reverseWord | countChars }}</p>
      <h1 class="display-2 my-3">Ex 3</h1>
      <p>{{ reverseW }}</p>
      <p>{{ countChars }}</p>
    </v-flex>
  </v-layout>
</template>

<script>
import { wordMixin } from '../mixins/wordMixin';

export default {
  data: () => ({ message: 'Some text to be reversed' }),
  computed: {
    reverseW() {
      return this.message
        .split('')
        .reverse()
        .join('');
    }
  },
  filters: {
    reverseWord: value =>
      value
        .split('')
        .reverse()
        .join('')
  },
  mixins: [wordMixin]
};
</script>

<style>
</style>
