<template>
  <div>
    <h1>Exersice directive</h1>
    <p>Creation of own v-on directive</p>
    <v-btn v-ownOn:click="clicked">Click me</v-btn>
    <div class="ma-5 box" v-ownOn:mouseenter="mouseEntered" v-ownOn:mouseleave="mouseLeft"></div>
  </div>
</template>

<script>
export default {
  directives: {
    ownOn: {
      /** Manera uno: forzando un click en el elemento que ejecuta un método de la instancia 
       * 
      bind: (el, binding) => (el.onclick = () => binding.value())
      */
      bind: (el, binding) => {
        const type = binding.arg;
        const fn = binding.value;
        el.addEventListener(type, fn);
      }
    }
  },
  methods: {
    clicked: () => alert('this was clicked'),
    mouseEntered() {
      console.log('Mouse Entered');
    },
    mouseLeft() {
      console.log('Mouse Left');
    }
  }
};
</script>

<style>
.box {
  width: 100px;
  height: 100px;
  background-color: blue;
}
</style>
