<template>
  <v-layout column ma-4>
    <h1 class="display-2">Filters & Mixins</h1>
    <p class="caption">Los filtros funcionan como los pipes de angular.</p>
    <p class="caption">
      Sirven para transformar datos visualmente sin alterar el valor
      original del dato.
    </p>
    <!-- Filter chaining, siempre se aplicarán los filtros de izquierda a derecha.
    En este caso pasa por dos filtros (filter chaining)-->
    <p>{{ text | toUpper | toLower}}</p>
    <v-text-field label="Filter" v-model="filterText"></v-text-field>
    <v-list>
      <v-list-tile v-for="fruit of filteredFruits" :key="fruit">
        <v-list-tile-content>
          <v-list-tile-title v-text="fruit"></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <!-- Button to check if the data is shared across all components or if
    there's an instance of data in each one of them-->
    <v-btn style="width: 10%" color="error" @click="fruits.pop()">Remove element</v-btn>
    <h1 class="mt-5 display-1">List from another component</h1>
    <!-- Lo siguiente plantea un problema ya que no respeta el principio DRY,
    pues al usar computed properties, solamente están limitadas al scope del componente.
    La solución sería usar el filtro de manera global, pero vemos que en el caso del filtering
    es un impacto fuerte al performance al tener que recalcularse cada vez que cambia el dom.
    La solución es usar mixins-->
    <appList/>
  </v-layout>
</template>

<script>
import appList from '../components/List';
import { fruitMixin } from '../mixins/fruitMixin';
export default {
  data: () => ({
    text: 'Hello There'
    // fruits: ['Apple', 'Banana', 'Mango', 'Melon'],
    // filterText: ''
  }),
  /** Filtros declarados de manera local, en este scope el filtro solo será válido
   * en este componente
   */
  filters: {
    /** Los métodos de los filtros siempre reciben un valor y siempre regresarán el
     * valor modificado para el output (sin cambiar el value original)
     */
    toUpper: value => value.toUpperCase()
  },
  /** Sin embargo es posible que por el comportamiento de los filtros (ya que se tienen
   * que recalcular cada vez que haya algún cambio en el dom) la mejor opción sea siempre
   * utilizar una computed property.
   * Se comenta por la inclusión de mixins */
  // computed: {
  // filteredFruits() {
  /** Mi versión del filtro, probablemente hay manera de hacer case insensitive el match
   * de una manera más corta
   */
  // return this.fruits.filter(el =>
  // el.toLowerCase().match(this.filterText.toLowerCase())
  // );
  // }
  // },
  components: { appList },
  mixins: [fruitMixin],
  created() {
    console.log('Created inside view');
  }
};
</script>

<style>
</style>
