<template>
  <div class="component">
    <h1>The User component</h1>
    <p>I'm an awesome user!</p>
    <p>Name: {{name}}</p>
    <p>Age: {{age}}</p>
    <button class="btn btn-danger" @click="changeName">Change my name</button>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <app-user-detail :name="name" :parentFn="resetName" @nameWasReset="name = $event" :age="age"></app-user-detail>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-user-edit :age="age" @updateAge="age = $event"></app-user-edit>
      </div>
    </div>
  </div>
</template>

<script>
import UserDetail from './components/UserDetail.vue';
import UserEdit from './components/UserEdit.vue';

export default {
  data() {
    return {
      name: 'Darío',
      age: 28
    };
  },
  methods: {
    changeName() {
      this.name = 'Baby';
    },
    resetName() {
      this.name = 'Darío';
    }
  },
  components: {
    appUserDetail: UserDetail,
    appUserEdit: UserEdit
  }
};
</script>

<style scoped lang="scss">
div {
  background-color: lightblue;
}
</style>
