<template>
  <v-layout row>
    <v-flex mr-2>
      <v-text-field v-model="value.fName" label="First Name"></v-text-field>
    </v-flex>
    <v-flex ml-2>
      <v-text-field v-model="value.lName" label="Last Name"></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    value: Object
  },
  watch: {
    value() {
      this.$emit('input', this.value);
    }
  }
};
</script>

<style>
</style>
