<template>
  <v-layout>
    <v-text-field
      label="First Name"
      type="text"
      :value="firstName"
      @input="nameChanged(true, $event)"
    ></v-text-field>
    <v-text-field
      label="Last Name"
      type="text"
      :value="lastName"
      @input="nameChanged(false, $event)"
    ></v-text-field>
  </v-layout>
</template>

<script>
/** Max usó un approach muy bizarro para este componente, creo que mi solución es más elegante */
export default {
  props: ['value'],
  methods: {
    nameChanged(isFirst, event) {
      console.log(event);
      let name = '';
      isFirst
        ? (name = event + ' ' + this.lastName)
        : (name = this.firstName + ' ' + event);
      this.$emit('input', name);
    }
  },
  computed: {
    firstName() {
      return this.value.split(' ')[0];
    },
    lastName() {
      return this.value.split(' ')[1];
    }
  }
};
</script>

<style>
</style>
