<template>
  <v-navigation-drawer
    app
    v-model="$store.state.drawer"
    mini-variant
    clipped
    @blur="drawer = false"
  >
    <v-layout column>
      <v-flex>
        <v-list dense>
          <v-list-tile v-for="(link, i) of links" :key="i" router :to="link.route">
            <v-list-tile-action>
              <v-icon>{{link.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="link.name"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import { links } from '../../mixins/links-mixin';
// import { eventBus } from '@/main';

export default {
  mixins: [links]
  // Como la suscripción a un observable. Omitido por el uso de vuex
  // created() {
  //   eventBus.$on('openDrawer', value => (this.drawer = value));
  // }
};
</script>

<style>
</style>
