<template>
  <v-toolbar app dark flat>
    <v-toolbar-side-icon @click.stop="openDrawer"></v-toolbar-side-icon>
    <v-toolbar-title class="headline text-uppercase">
      <span>Routing</span>
      <span class="font-weight-light">And State Management</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn flat v-for="(link, i) of links" :key="i" router :to="link.route">
      <v-icon left>{{link.icon}}</v-icon>
      <span>{{link.name}}</span>
    </v-btn>
  </v-toolbar>
</template>

<script>
import { links } from '../../mixins/links-mixin';
// import { eventBus } from '@/main';
export default {
  mixins: [links],
  methods: {
    openDrawer() {
      this.$store.state.drawer = !this.$store.state.drawer;
      // Se omite por usar el store
      // eventBus.$emit('openDrawer', this.drawer);
    }
  }
};
</script>

<style>
</style>
