<template>
  <v-layout column ma-4>
    <v-text-field label="Filter" v-model="filterText"></v-text-field>
    <v-list>
      <v-list-tile v-for="fruit of filteredFruits" :key="fruit">
        <v-list-tile-content>
          <v-list-tile-title v-text="fruit"></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <h1 class="display-1">{{ globalText }}</h1>
  </v-layout>
</template>

<script>
/** Importando el mixin, que es una constante que contiene los datos de la instancia */
import { fruitMixin } from '../mixins/fruitMixin';
export default {
  /** Código comentado por ser incluido como mixin */
  // data: () => ({
  //   fruits: ['Apple', 'Banana', 'Mango', 'Melon', 'Orange'],
  //   filterText: ''
  // }),
  // computed: {
  //   filteredFruits() {
  //     /** versión usando regex para que sea global e ignopre el case sensitive, habrá
  //      * performance impact en instanciar la expresión?
  //      */
  //     return this.fruits.filter(el =>
  //       el.match(new RegExp(this.filterText, 'gi'))
  //     );
  //   }
  // }
  mixins: [fruitMixin],
  created() {
    console.log('Inside list hook');
  }
};
</script>

<style>
</style>
