<template>
  <v-app>
    <v-toolbar app dark>
      <v-toolbar-title class="headline text-uppercase">
        <span>VUE</span>
        <span class="font-weight-light">FORMS</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- -->
      <v-menu offset-y offset-x>
        <v-btn flat slot="activator" color="grey">
          <v-icon small left>expand_more</v-icon>
          <span>menu</span>
        </v-btn>
        <v-list>
          <v-list-tile v-for="(link, i) of links" :key="i" router :to="link.route">
            <v-list-tile-action>
              <v-icon>{{link.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{link.text}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>

    <v-content class="ma-4">
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    links: [
      { icon: 'dashboard', text: 'Basics', route: '/' },
      { icon: 'assignment', text: 'Exersice', route: 'ex' },
      { icon: 'class', text: 'Solution', route: 'max' }
      // { icon: 'dashboard', text: 'Dashboard', route: '/' }
    ]
  })
};
</script>
