<template>
  <div id="signup">
    <div class="signup-form">
      <form @submit.prevent="onSubmit">
        <!-- Se usa error y no invalid porque siempre será inválido aunque esté prístino -->
        <div class="input" :class="{ invalid: $v.email.$error }">
          <label for="email">Mail</label>
          <!-- Para aplicar el validador, necesita un input event- adicional v-model
          $v es provisto por vuelidate, da acceso a la propiedad validations del componente, 
          y acceder a la propiedad que se quiera validar, y se llama la función, también
          provista por el validador, touch, eso ejecuta la validación y revisa si el input
          es válido, puedes llamar a touch cuando sea, que es el que se encarga de revisar 
          los inputs, no necesariamente en input, ni en blur. Lazy se agrega para no enviar 
          requests al backend en cada keystroke, que blur omite-->
          <input type="email" id="email" @blur="$v.email.$touch()" v-model.lazy="email">
          <p v-if="$v.email.$error">Please provide a valid email address.</p>
          <p v-if="$v.email.required">This field must not be empty</p>
        </div>

        <div class="input" :class="{ invalid: $v.age.$error }">
          <label for="age">Your Age</label>
          <input type="number" id="age" @blur="$v.age.$touch()" v-model.number="age">
          <!-- $params accede a todos los parámetros pasados a los validadores que los requiren -->
          <p v-if="!$v.age.minValue">You have to be at least {{ $v.age.$params.minValue.min }}</p>
        </div>

        <div class="input" :class="{ invalid: $v.password.$error }">
          <label for="password">Password</label>
          <input type="password" @blur="$v.password.$touch()" id="password" v-model="password">
        </div>

        <div class="input" :class="{invalid: $v.confirmPassword.$error}">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            @blur="$v.confirmPassword.$touch()"
            v-model="confirmPassword"
          >
        </div>

        <div class="input">
          <label for="country">Country</label>
          <select id="country" v-model="country">
            <option value="usa">USA</option>
            <option value="india">India</option>
            <option value="uk">UK</option>
            <option value="germany">Germany</option>
          </select>
        </div>

        <div class="hobbies">
          <h3>Add some Hobbies</h3>
          <button @click="onAddHobby" type="button">Add Hobby</button>
          <div class="hobby-list">
            <div
              class="input"
              :class="{ invalid: $v.hobbyInputs.$each[index].$error}"
              v-for="(hobbyInput, index) in hobbyInputs"
              :key="hobbyInput.id"
            >
              <label :for="hobbyInput.id">Hobby #{{ index + 1 }}</label>
              <input
                type="text"
                :id="hobbyInput.id"
                @blur="$v.hobbyInputs.$each[index].value.$touch()"
                v-model="hobbyInput.value"
              >
              <button @click="onDeleteHobby(hobbyInput.id)" type="button">X</button>
            </div>
          </div>
          <p
            v-if="!$v.hobbyInputs.minLength"
          >You have to at least have to specify at leaset {{ $v.hobbyInputs.$params.minLength.min }} hobby</p>
        </div>

        <div class="input inline" :class="{ invalid: $v.terms.$invalid }">
          <input type="checkbox" @change="$v.terms.$touch()" id="terms" v-model="terms">
          <label for="terms">Accept Terms of Use</label>
          <!-- <p v-text="$v.terms"></p> -->
        </div>

        <div class="submit">
          <button type="submit" :disabled="$v.$invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {
  required,
  email,
  numeric,
  minValue,
  minLength,
  sameAs
} from 'vuelidate/lib/validators';
import axios from 'axios';

export default {
  data() {
    return {
      email: '',
      age: null,
      password: '',
      confirmPassword: '',
      country: 'usa',
      hobbyInputs: [],
      terms: false
    };
  },
  methods: {
    onAddHobby() {
      const newHobby = {
        id: Math.random() * Math.random() * 1000,
        value: ''
      };
      this.hobbyInputs.push(newHobby);
    },
    onDeleteHobby(id) {
      this.hobbyInputs = this.hobbyInputs.filter(hobby => hobby.id !== id);
    },
    onSubmit() {
      if (this.$v.$invalid) return;
      const formData = {
        email: this.email,
        age: this.age,
        password: this.password,
        confirmPassword: this.confirmPassword,
        country: this.country,
        hobbies: this.hobbyInputs.map(hobby => hobby.value),
        terms: this.terms
      };
      // console.log(formData);
      /** para apuntar la base de datos y una colección en específico, append users.json por
       * requerimientos de firebase. El tercer argumento es un objeto de configuración que se
       * puede aprender en la documentación de axios.
       *
       * El siguiente viene de la documentación
       * https://firebase.google.com/docs/reference/rest/auth/
       * (movido a store)
       */
      this.$store.dispatch('signup', formData);
    }
  },
  /** Propiedad que no existe en la instancia de manera nativa, agregada por el paquete vuelidate.
  Cada propiedad que exista en data() y necesite ser validada está aquí como un kvp que tiene el
  mismo nombre de la propiedad*/
  validations: {
    /** Cada propiedad recibe un objeto donde se configura su validación. La librería tiene varios
     * métodos ya escritos para el propósito importados de vuelidate/lib/validators, y se usan
     * como propiedades del objeto, utilizando es6 porque típicamente los validadores se nombran de
     * la misma manera
     */
    email: {
      required,
      email,
      /** Here we'll set a custom validator which is a function that recieves the value */
      // value !== 'test@test.com';
      // return new Promise((resolve, reject) => setTimeout(() => resolve(value !== 'test@test.com'), 1000));
      /** Se hará el request para saber si el email ya está ocupado */
      unique: value => {
        if (value === '') return true;
        return axios
          .get(`users.json?orderBy="email"&equalTo="${value}"`)
          .then(response => {
            /** Para saber si el objeto está vacío */
            return Object.keys(response.data).length === 0;
          });
      }
    },
    age: {
      required,
      numeric,
      minValue: minValue(18)
    },
    /** Igualdad de passwords */
    password: {
      required,
      minLength: minLength(6)
    },
    /** No se necesitan repetir los validadores del password original. sameAs puede recibir
     * dos tipos de args, el primero es la propiedad de la validación que se quiere igualar como
     * un string. Esta es la manera simple, pero también se puede pasar un cb que como arg recibe
     * la instancia del componente donde regresa el valor de lo que se quiere igualar, y alguna
     * modificación
     */
    confirmPassword: {
      sameAs: sameAs('password')
      // sameAs: sameAs(vm => vm.password + 'something')
    },
    /** El siguiente caso es un required if (unless) se expone el que sea necesario si otra condición
     * se cumple. En el ejemplo, terms es requerido únicamente si se selecciona alemania como país
     */
    terms: {
      sameAs: sameAs(() => true)
      // sameAs: sameAs((val, vm) => (vm.country !== 'germany' ? val : true))
    },
    hobbyInputs: {
      required,
      minLength: minLength(1),
      /** Como no se sabe cuántos inputs tendrá el usuario, se aplica la función each, provista por
       * vuelidate para revisar la validación de cada elemento del arreglo.
       */
      $each: {
        value: {
          required,
          minLength: minLength(5)
        }
      }
    }
  }
};
</script>

<style scoped>
.signup-form {
  width: 400px;
  margin: 30px auto;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 3px #ccc;
}

.input {
  margin: 10px auto;
}

.input label {
  display: block;
  color: #4e4e4e;
  margin-bottom: 6px;
}

.input.inline label {
  display: inline;
}

.input input {
  font: inherit;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input.inline input {
  width: auto;
}

.input.inline.invalid label {
  color: red;
}

.input input:focus {
  outline: none;
  border: 1px solid #521751;
  background-color: #eee;
}

.input select {
  border: 1px solid #ccc;
  font: inherit;
}

.input.invalid input {
  border: 1px solid red;
  background-color: #ffc9aa;
}

.input.invalid label p {
  color: red;
}

.hobbies button {
  border: 1px solid #521751;
  background: #521751;
  color: white;
  padding: 6px;
  font: inherit;
  cursor: pointer;
}

.hobbies button:hover,
.hobbies button:active {
  background-color: #8d4288;
}

.hobbies input {
  width: 90%;
}

.submit button {
  border: 1px solid #521751;
  color: #521751;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
}

.submit button:hover,
.submit button:active {
  background-color: #521751;
  color: white;
}

.submit button[disabled],
.submit button[disabled]:hover,
.submit button[disabled]:active {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}
</style>