<template>
  <nav>
    <v-toolbar dark flat app clipped-left>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Advanced</span>
        <span>Components</span>
      </v-toolbar-title>
      <v-btn router to="/">Home</v-btn>
      <v-btn router to="about">About</v-btn>
    </v-toolbar>
  </nav>
</template>

<script>
export default {};
</script>

<style>
</style>
