<template>
  <div>
    <v-list>
        <!-- <v-list-tile :key="index">Server {{server.id}}, status: {{server.status}}</v-list-tile> -->
        <app-server-item v-for="(server, index) in servers" :server="server" :key="index"></app-server-item>
    </v-list>
    <app-server-detail></app-server-detail>
  </div>
</template>

<script>
import appServerItem from './ServerItem';
import appServerDetail from './ServerDetails';

export default {
  components: { appServerItem, appServerDetail },
  data() {
    return {
      servers: [
        { id: 1, status: 'Normal' },
        { id: 2, status: 'Critical' },
        { id: 3, status: 'Unknown' },
        { id: 4, status: 'Normal' }
      ]
    };
  },
  watch: {
    servers() { console.log(this.servers); }
  }
};
</script>
