<template>
  <v-list-tile @click="serverSelected" style="cursor:pointer">Server {{server.id}}</v-list-tile>
</template>

<script>
import { ServerService } from '../../main';

export default {
  props: {
    server: {
      type: Object,
      required: true
    }
  },
  methods: {
    serverSelected() {
      ServerService.$emit('serverClicked', this.server);
    }
  },
};
</script>
