<template>
  <div>
    <p v-if="!server">Please select a server</p>
    <template v-else>
      <p>Server #{{server.id}}, status: {{server.status}}</p>
      <v-btn round @click="resetStatus">Change to normal</v-btn>
    </template>
  </div>
</template>

<script>
import { ServerService } from '../../main';

export default {
  data() {
    return { server: null };
  },
  methods: {
    /** Aquí no es necesario hacer un wire up que cambie el objeto pasado desde el componente padre
     * para actualizar el status por la manera en la que funcionan los objetos y arrays, ya que
     * sólo existen una sola vez en memoria y la varible es un puntero al objeto
     */
    resetStatus() {
      this.server.status = 'Normal'
    }
  },
  created() {
    ServerService.$on('serverClicked', server => {
      this.server = server;
    });
  }
};
</script>

<style>
</style>
