<template>
  <!-- Manera de utilizar animate.css con transition en v,  -->
  <!-- <transition enter-active-class="animated fadeIn" appear leave-active-class="animated shake"> -->
  <v-app>
    <v-toolbar app dark>
      <v-toolbar-title class="headline text-uppercase">
        <span>{{ globalText }}</span>
        <span class="font-weight-light text--uppercase">directives filters mixins animations</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- -->
      <v-menu offset-y offset-x>
        <v-btn flat slot="activator" color="grey">
          <v-icon small left>expand_more</v-icon>
          <span>menu</span>
        </v-btn>
        <v-list>
          <v-list-tile v-for="(link, i) of links" :key="i" router :to="link.route">
            <v-list-tile-action>
              <v-icon>{{link.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{link.text}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>

    <v-content class="ma-4">
      <v-container fluid>
        <transition
          enter-active-class="animated fadeIn faster"
          leave-active-class="animated fadeOut faster"
          mode="out-in"
          appear
        >
          <router-view></router-view>
        </transition>
      </v-container>
    </v-content>
  </v-app>
  <!-- </transition> -->
</template>

<script>
export default {
  data: () => ({
    links: [
      { icon: 'start', text: 'Directives', route: '/' },
      { icon: 'assignment', text: 'Exersice Directives', route: '/exd' },
      { icon: 'filter_none', text: 'Filters and Mixins', route: '/filter' },
      { icon: 'assignment', text: 'Ex Filters and Mixins', route: '/exfm' },
      { icon: 'gif', text: 'Animations', route: '/anim' }
      // { icon: 'dashboard', text: 'Dashboard', route: '/' }
    ]
  })
};
</script>

<style lang="scss">
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
// .fade-leave {
//   // opacity: 1;
// }
.fade-leave-active {
  opacity: 0;
}
// .slide-enter {
// }
.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
}
.slide-leave {
  animation: slide-out 1s ease-out forwards;
}
// .slide-leave-active {
// }
@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css');
</style>
