<template>
  <v-layout row wrap>
    <v-flex xs12 sm8 offset-sm2 md6 offset-md3 align-self-center>
      <h1 class="display-1">The Home Page</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, exercitationem rem? Odit reprehenderit minima magnam dolore quis illum dolores necessitatibus perferendis. Perspiciatis possimus tempora nisi veniam amet eveniet obcaecati in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, quisquam tempore consectetur aperiam natus consequuntur repellendus dignissimos quo architecto possimus veritatis impedit sapiente vel odit nisi dolores accusantium, suscipit iusto.</p>
    </v-flex>
  </v-layout>
</template>