<template>
  <v-layout row>
    <v-flex xs12 sm8 offset-sm2 md6 offset-md3 align-self-center>
      <h1 class="display-1">User component</h1>
      <v-flex>
        <v-layout row my-4>
          <v-btn @click="navigateToHome">Go to Home</v-btn>
        </v-layout>
        <!-- <p>Loaded id: {{ id }}</p> -->
        <!-- Router view embebido en la vista y no la raíz para llamar rutas anidadas-->
        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </v-flex>
      <v-layout>
        <v-btn v-if="$route.fullPath !== '/user/'" @click="navigateToUser">Go Back</v-btn>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  /** no puedo usar arrow aquí por el binding de this */
  data() {
    return {
      id: this.$route.params.id
    };
  },
  methods: {
    /** Navegación programática */
    navigateToHome() {
      /** Dentro de la instancia de vue existe ya el plugin de $router accesible en toda
       * la aplicación. Las rutas están en una pila
       */
      this.$router.push({ path: '/' });
      // console.log(this.$router);
    },
    navigateToUser() {
      /** La navegación programática también se puede hacer a través del name en la url */
      this.$router.push({ name: 'user' });
    }
  },
  watch: {
    $route(to /*, from*/) {
      this.id = to.params.id;
    }
  },
  computed: {
    /** Para obtener el parámetro dinámico de la url. Primero me equivoqué en hacer referencia a router
     * y no a route, que son dos objetos distintos. Segundo, yo no ví la necesidad de aplicarlo a los datos
     * del componente ya que lo vi mejor con un computed property, con lo que resolví sin querer el siguiente
     * video. Al asignarlo como data, el id siempre sería el mismo ya que el componente se creó con esos datos
     * Sin embargo, al ponerlo en una computed property, el id siempre va a variar en el componente porque
     * se hace reactivo, entonces siempre que haya un cambio en la url, el componente reaccionará en
     * consecuencia. Max lo explica con un watcher, pero usarlo como un computed property lo hace más sencillo
     * y elegante. Sin embargo, si se necesita ejectuar más acciones después del cambio reactivo, entonces
     * el watcher es la opción
     */
    getRouteParam() {
      return this.$route.params.id;
    }
  }
};
</script>

<style>
</style>
