<template>
  <v-layout row>
    <v-flex xs12 sm8 offset-sm2 md6 offset-md3 align-self-center>
      <h1 class="title">Vuex</h1>
      <!-- <Counter @updated="counter += $event"/>
      <Result :counter="counter"/> 
      Los eventos y props dejan de ser necesarios al usar vuex-->
      <h2 class="caption">Async</h2>
      <Counter/>
      <h2 class="caption">Sync</h2>
      <AnotherCounter/>
      <Result/>
      <AnotherResult/>
    </v-flex>
  </v-layout>
</template>

<script>
import Counter from '../components/vuex/Counter';
import Result from '../components/vuex/Result';
import AnotherResult from '../components/vuex/AnotherResult';
import AnotherCounter from '../components/vuex/AnotherCounter';

export default {
  /** Los datos pasan a ser propiedad del store. */
  // data: () => ({ counter: 0 }),
  components: { Counter, Result, AnotherResult, AnotherCounter }
};
</script>
