<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app1">
    <h1 ref="heading">{{ title }}</h1>
    <button v-on:click="show">Show Paragraph</button>
    <p v-if="showParagraph">This is not always visible</p>
  </div>

  <div id="app2">
    <h1 ref="heading">{{ title }}</h1>
    <button v-on:click="show">Show Paragraph</button>
    <button @click="onChange">Change something on Vue 1</button>
    <p v-if="showParagraph">This is not always visible</p>
    <button @click="destroyMe">Destroy</button>
  </div>

  <div id="app3"></div>

  <hello></hello>
  <hello></hello>
  <hello></hello>

  <script src="app.js"></script>
</body>

</html>