<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Vue Section 2: Conditionals and Loops</title>
  <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>

  <!-- Rendering with v-if, v-else, v-show -->
  <div id="rendering">
    <p v-if="show">You can see me!</p>
    <p v-else>Now you see me with else</p>
    <template v-if="show">
      <h1>Heading</h1>
      <p>Inside a template</p>
    </template>
    <p v-show="show">Do you also see me?</p>
    <button @click="show = !show">switch</button>
    <hr>
  </div>

  <!-- List and Objects Rendering with v-for -->
  <div id="vFor">
    <!-- v-for arrays and indexes, also templating -->
    <!-- Vue basically adds a listener to your  array (or wraps the original push method) to find out when you push new  data. Since arrays are reference type, a push() does NOT create a new array object and hence just listening to a value change won't work. That's why this extra work is required. -->
    <ul>
      <li v-for="(ingredient, i) of ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
    </ul>

    <!-- pushing and item in an already rendered list -->
    <button @click="ingredients.push('apple')">Add New</button>

    <template v-for="(ing, index) of ingredients">
      <p>{{ ing }}, {{ index }}</p>
    </template>

    <!-- v-for objects and nested v-fors-->

    <ul>
      <li v-for="person of persons">{{ person.name }}</li>
    </ul>

    <ul>
      <li v-for="person of persons">
        <!-- This makes a loop of all values of any properties inside the object, 
        this can be applied like with indexes in which we can access the index of the
        array, here we can access the name of the key in the object -->
        <div v-for="(value, key, index) in person"> {{key}}: {{value}}, ({{index}})</div>
      </li>
    </ul>

    <!-- Loops without previus data (numbers and strings) -->
    <span v-for="n of 10">{{n}}</span>
    <hr>

  </div>

  <div id="exercise">

    <button @click="show = !show">Toggle</button>
    <p v-if="show">You either see me</p>
    <p v-else>Or me</p>
    <p v-show="show">I'll be just hinding</p>

    <ul>
      <li v-for="(ch, i) of tlozChars"> {{ ch }}, ({{ i }})</li>
    </ul>

    <template v-for="serie of series">
      <ul>
        <li v-for="(value, key, index) of serie">{{key}}: {{value}}, ({{index}})</li>
      </ul>
    </template>

    <template v-for="attr of testObj">
      <div v-if="typeof attr === 'object'">
        <ul>
          <li v-for="element of attr"> {{element}}</li>
        </ul>
        <p> Sum: {{ attr.reduce((a, b) => a + b) }}</p>
      </div>
      <div v-else> {{attr}} </div>
    </template>
    <hr>
  </div>

  <div id="maxSol">
    <button @click="isShown = !isShown">Toggle</button>
    <p v-if="isShown">You either see me...</p>
    <p v-else>or me...</p>
    <p v-show="isShown">You either see me...</p>
    <p v-show="!isShown">or me...</p>

    <ul>
      <li v-for="(element, ind) of array"> {{element}} ({{ind}})</li>
    </ul>

    <ul>
      <li v-for="(value, key, ind) of myObj"> {{value}} - {{key}} - {{ind}}</li>
    </ul>

    <ul>
      <li v-for="value of otherObject">
        <template v-if="Array.isArray(value)">
          <div v-for="element of value ">
            {{element}}
          </div>
        </template>
        <template v-else>
          {{value}}
        </template>

      </li>
    </ul>

  </div>

</body>

<script>
  // Rendering with v-if, v-else, v-show
  new Vue({
    el: '#rendering',
    data: {
      show: true
    }
  });

  // Rendering arrays or objects with v-for
  new Vue({
    el: '#vFor',
    data: {
      ingredients: ['meat', 'fruit', 'cookies'],
      persons: [{
        name: 'Max',
        age: 27,
        color: 'red'
      }, {
        name: 'Darío',
        age: 28,
        color: 'black'
      }, {
        name: 'Anna',
        age: 'unknown',
        color: 'blue'
      }]
    }
  });

  // Exercise of conditionals and loops
  new Vue({
    el: '#exercise',
    data: {
      show: true,
      tlozChars: ['Lonk', 'Zorldo'],
      series: [{
        title: 'Lord of the Rings',
        author: 'J.R.R. Tolkiens',
        books: 3
      }],
      testObj: {
        name: 'TESTOBJECT',
        data: [1.67, 1.33, 0.98, 2.21]
      }
    }
  })

  // Max's solution to exercise
  new Vue({
    el: '#maxSol',
    data: {
      isShown: true,
      array: ['Max', 'Anna', 'Chris', 'Manu'],
      myObj: {
        title: 'Lord of the Rings',
        author: 'J.R.R. Tolkiens',
        books: 3
      },
      otherObject: {
        name: 'TESTOBJECT',
        id: 10,
        data: [1.67, 1.33, 0.98, 2.21]
      }
    }
  });
</script>

</html>