<template>
  <div>
    <!-- No es necesario poner un parámetro en el evento ya que vue automáticamente envía
    el parámetro desde la emisión del evento-->
    <appNewQuote @quoteAdded="add"/>
    <v-layout>
      <v-flex>
        <p>{{ quotes.length }} / {{ max }}</p>
        <v-progress-linear height="30" :value="quotes.length * 10"></v-progress-linear>
      </v-flex>
    </v-layout>
    <appQuoteGrid :quotes="quotes"></appQuoteGrid>
    <v-layout>
      <v-flex>
        <v-alert value="true" type="warning">Click on a quote to delete it!</v-alert>
      </v-flex>
    </v-layout>
    <v-snackbar
      v-model="snackbar"
      bottom
      :timeout="2000"
    >You can't add any new quotes, delete one first</v-snackbar>
  </div>
</template>

<script>
import appQuoteGrid from '../components/MaxSolution/QuoteGrid';
import appNewQuote from '../components/MaxSolution/NewQuote';
export default {
  data: () => ({
    quotes: ['Just a Quote to see something'],
    max: 10,
    snackbar: false
  }),
  components: {
    appQuoteGrid,
    appNewQuote
  },
  methods: {
    add(quote) {
      if (this.quotes.length >= this.max) {
        this.snackbar = true;
      } else {
        this.quotes.push(quote);
      }
    }
  }
};
</script>

<style>
</style>
