<template>
  <div>
    <v-layout row wrap align-center>
      <v-flex>
        <h1 class="display-1">Quotes Added</h1>
      </v-flex>
      <v-flex>
        <appCounter :value="quotes.length"/>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <appAdd @onQuoteAdded="onAddingAQuote($event)"/>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <appQuoteItem class="ma-2" v-for="(quote, i) of quotes" :key="i">
        <p class="item" @click="removeThis(quote)">{{quote}}</p>
      </appQuoteItem>
    </v-layout>
    <v-alert :value="true" type="info">Click on a quote to delete it!</v-alert>
  </div>
</template>

<script>
import appCounter from '../components/MySolution/MyCounter';
import appQuoteItem from '../components/MySolution/MyQuoteItem';
import appAdd from '../components/MySolution/MyAddQuote';
export default {
  data: () => ({
    quotes: ['One test quote for you']
  }),
  components: {
    appCounter,
    appQuoteItem,
    appAdd
  },
  methods: {
    onAddingAQuote(newQuote) {
      this.quotes.length >= 10
        ? alert('Quote limit reached, delete something first')
        : this.quotes.push(newQuote);
    },
    removeThis(quote) {
      this.quotes = this.quotes.filter(q => q !== quote);
    }
  }
};
</script>

<style scoped>
.item {
  cursor: pointer;
}
</style>
