<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Vue</title>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <div id="app">
    <input type="text" v-on:input="changeTitle" />
    <p>{{ title }}</p>
    <p>{{ sayHello() }}</p>
    <a v-bind:href="link">Google</a>
    <h1 v-once>{{ title }}</h1>
    <p>{{ sayHola() }}</p>
    <div v-html="finishedLink"></div>
  </div>

  <div id="exercise">
    <p>VueJS is pretty cool - {{ name }}, age: {{ age }}</p>
    <p>{{ age * 3 }}</p>
    <p>Rand: {{ getRand() }}</p>
    <div><img v-bind:src="img" alt="name" /></div>
    <div><input type="text" v-on:input="setName" v-bind:value="name" /></div>
  </div>

  <div id="events">
    <button v-on:click="increase(2, $event)">click me</button>
    <p>{{ counter }}</p>
    <p v-on:mousemove="updateCoordinates">
      Coordinates: {{ x }} / {{ y }}
      <span v-on:mousemove.stop="">DEAD SPOT</span>
      <input type="text" v-on:keyup.enter="alertMe" />
    </p>
  </div>

  <div id="exercise2">
    <div>
      <button v-on:click="alert">Alert</button>
      <button v-on:click="counter++">Alert</button>
      <p>{{ counter * 2 }}</p>
    </div>
    <input type="text" v-on:keydown="writeData($event)" />
    <p>{{ firstText }}</p>
  </div>

  <div id="counters">
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <!--
        En este caso, la instancia de Vue volverá a calcular la función result:
        ya que hubo un cambio dentro de la instancia (div id=counters),
      -->
    <button v-on:click="secondCounter++">Increase second</button>
    <p>Counter: {{ counter }}</p>
    <p>Result: {{ result() }} | Output: {{ output }}</p>
  </div>

  <div id="shortcut">
    <!-- Usando template shortcuts -->
    <button @click="changeLink">Change Link</button> <a :href="link">Link</a>
  </div>

  <div id="computedExercise">
    <p>Current value: {{ value }}</p>
    <button @click="value += 5">Add 5</button>
    <button @click="value += 1">Add 1</button>
    <p>Result: {{ result }}</p>
  </div>

  <div id="classes">
    <div class="demo" @click="attachedRed = !attachedRed" :class="divClasses"></div>
    <!-- Red por ser llamada así la clase en el archivo de css -->
    <div class="demo" :class="{red: attachedRed}"></div>
    <div class="demo" :class="[color, {red: attachedRed}]"></div>
    <!-- Aplicar estilos de manera dinámica -->
    <div class="demo" :style="{backgroundColor: color}"></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
    <br />
    <input type="text" v-model="color" />
    <input type="text" v-model="width" />
  </div>

  <div id="exerciseClasses"></div>

  <script>
    new Vue({
      el: '#app',
      data: {
        title: 'Hello World!',
        hello: 'Hola',
        link: 'http://google.com',
        finishedLink: '<a href="http://google.com">Google</a>'
      },
      methods: {
        changeTitle: function (event) {
          this.title = event.target.value;
        },
        sayHello: () => 'Hello',
        sayHola: function () {
          this.title = 'Hello';
        }
      }
    });

    new Vue({
      el: '#exercise',
      data: {
        name: 'Andrew',
        age: 28,
        img: 'https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F_400x400.jpg'
      },
      methods: {
        outputName: function () {
          return this.name;
        },
        getRand: () => Math.random(),
        setName: function (event) {
          event.target.value = this.name;
        }
      }
    });

    new Vue({
      el: '#events',
      data: {
        counter: 0,
        x: 0,
        y: 0
      },
      methods: {
        increase: function (num, event) {
          this.counter += num;
          console.log(event);
        },
        updateCoordinates: function (event) {
          this.x = event.clientX;
          this.y = event.clientY;
        },
        alertMe: () => alert('hey')
      }
    });

    new Vue({
      el: '#exercise2',
      data: {
        firstText: '',
        counter: 0
      },
      methods: {
        alert: () => alert('Hi'),
        writeData: function (event) {
          if (event.keyCode === 13) {
            this.firstText = '';
            this.firstText += event.target.value;
            console.log(event);
          }
        }
      }
    });

    new Vue({
      el: '#counters',
      /** data no es reactivo */
      data: {
        counter: 0,
        secondCounter: 0
      },
      /** Funciona para ejecutar funciones, Todo lo declarado dentro de computed debe ser utilizado
       * como una propiedad, aunque sea un método. Las propiedades de computed analiza el código para
       * saber si las propiedades que están cambiando en el dom son parte de la función, y así recalcularse
       * Al contrario, las otras se ejecutan cada vez que detectan un cambio en el dom de su instancia
       * Independientemente de si se han cambiado o no propiedades que las involucran.
       */
      computed: {
        output: function () {
          console.log('computed');
          return this.counter >= 5 ?
            'Greater or equal than 5' :
            'Less than 5';
        }
      },
      /** Para observar cambios de propiedades declaradas en data */
      watch: {
        counter: function (value) {
          /** se utiliza otra variable para guardar el this ya que el scope cambia dentro del
          setTimeout; */
          const vm = this;
          if (vm.counter !== 0) {
            setTimeout(() => {
              vm.counter = 0;
            }, 2000);
          }
        }
      },
      methods: {
        result: function () {
          console.log('Method');
          return this.counter >= 5 ?
            'Greater or equal than 5' :
            'Less than 5';
        }
      }
    });

    new Vue({
      el: '#shortcut',
      data: {
        link: 'http://google.com'
      },
      methods: {
        changeLink: function () {
          this.link = 'http://apple.com';
        }
      }
    });

    new Vue({
      el: '#computedExercise',
      data: {
        value: 0
      },
      computed: {
        result: function () {
          return this.value === 37 ? 'done' : 'Not there Yet';
        }
      },
      /** watch puede revisar cualquier propiedad, sea computed o no */
      watch: {
        result: function () {
          const vm = this;
          setTimeout(() => (vm.value = 0), 5000);
        }
      },
      methods: {}
    });

    new Vue({
      el: '#classes',
      data: {
        attachedRed: false,
        color: 'green',
        width: 100
      },
      computed: {
        divClasses: function () {
          return {
            red: this.attachedRed,
            blue: !this.attachedRed
          };
        },
        myStyle: function () {
          return {
            backgroundColor: this.color,
            width: this.width + 'px'
          };
        }
      }
    });

    new Vue({
      el: '#exerciseClasses',
      computed: {},
      methods: {}
    });
  </script>
</body>

</html>