<template>
  <v-app>
    <appHeader/>
    <appDrawer/>
    <v-content class="ma-4">
      <!-- Similar a router-outlet de ng,  -->
      <transition name="slide" mode="out-in">
        <router-view></router-view>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
import appHeader from './components/navigation/Header';
import appDrawer from './components/navigation/Drawer';
export default {
  name: 'App',
  components: {
    appHeader,
    appDrawer
  }
};
</script>

<style>
.slide-leave-active {
  transition: opacity 0.2s ease;
  opacity: 0;
  animation: slide-out 0.2s ease-out forwards;
}

.slide-leave {
  opacity: 0.5;
  transform: translateX(0);
}

.slide-enter-active {
  animation: slide-in 0.2s ease-out forwards;
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>

