<template>
  <v-app dark>
    <v-navigation-drawer app></v-navigation-drawer>
    <v-toolbar app>
      <h1 class="title">Max Second Project</h1>
    </v-toolbar>
    <v-content class="ma-5">
      <v-container fluid>
        <appMyQuotes/>
        <hr class="my-5">
        <maxQuotes/>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
import appMyQuotes from './views/MyQuotes';
import maxQuotes from './views/MaxQuotes';

export default {
  name: 'App',
  components: { appMyQuotes, maxQuotes }
};
</script>
