<template>
  <div>
    <v-btn color="primary" @click="onAddingQuote">Add quote</v-btn>
    <v-textarea v-model="quote" @keyup.enter="onAddingQuote"></v-textarea>
  </div>
</template>

<script>
export default {
  data: () => ({
    quote: ''
  }),
  methods: {
    onAddingQuote() {
      if (!this.quote) return;
      this.$emit('onQuoteAdded', this.quote);
      this.quote = '';
    }
  }
};
</script>

<style>
</style>
