<template>
  <div>
    <v-progress-circular
      :rotate="360"
      :size="100"
      :width="15"
      :value="value * 10"
      color="error"
    >{{value}} / 10</v-progress-circular>
  </div>
</template>

<script>
export default {
  props: ['value']
};
</script>

<style>
</style>
