<template>
  <div>
    <v-card color="blue-grey darken-2" class="grey--text">
      <v-card-title primary-title>
        <div class="headline font-weight-bold">The quote</div>
      </v-card-title>
      <v-card-text class="headline font-weight-light">
        <slot></slot>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
p {
  font-family: 'Arizonia', cursive !important;
}
</style>
